body {
    background: rgb(221, 139, 187), 215, 239;
}

#amigos {

}

h1 {
    text-align: center
}

p {
    text-align: center;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
}
